[data-status-code^="4"] {
	background-color: red;
}

[data-status-code^="5"] {
	background-color: red;
}

.status-log {
	display: flex;
	flex-direction: column;
}

.status-log > * {
	white-space: pre;
}
