.icon-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.icon-list div {
	display: flex;
	flex-direction: column;
	margin: 0.25em;
	width: 64px;
}

.icon-list div:focus {
	outline-style: none;
}

.icon-list div:focus img {
	filter: grayscale(100%) sepia(100%) invert(100%);
}

.icon-list div img,
.icon-list div label {
	align-self: center;
	display: block;
	
	word-break: break-all;
	margin: 0.25em;
	text-align: center;
}
.icon-list div:focus img,
.icon-list div:focus label {
	outline-style: dotted;
	outline-width: 1px;
	outline-color: black
}

.icon-list div:focus label {
	background-color: #000082;
	color: #FFF;
}