.icon-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.icon-list div {
	display: flex;
	flex-direction: column;
	margin: 0.25em;
	width: 64px;
}

.icon-list div:focus {
	outline-style: none;
}

.icon-list div:focus img {
	outline-color: white;
	filter:
		brightness(50%)
		invert(100%)
		contrast(50%)
		sepia(100%)
		saturate(150%)
		invert(100%);
}

.icon-list div img,
.icon-list div label {
	align-self: center;
	display: block;
	
	margin: 0.25em;
	text-align: center;
}
.icon-list div:focus img,
.icon-list div:focus label {
	outline-style: dotted;
	outline-width: 1px;
}

.icon-list div:focus label {
	outline-color: white;
	outline-offset: -1px;
	background-color: #000082;
	color: #FFF;
}

label > img {
	margin: 0.25em;
}

.icon16 {
	width: 16px;
	height: 16px;
}

.icon32 {
	width: 32px;
	height: 32px;
}