@font-face {
    font-family: 'fixedsys';
    src: url('fsex302-webfont.woff2') format('woff2'),
         url('fsex302-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 1em;
	box-sizing: border-box;
	user-select: none;
}

html, body, input, button {
	font-family: fixedsys;
	font-size: 12pt;
}

body {
	background: url(/dawid-zawila-9d33wIMMzoE-unsplash.jpg);
	background-size: cover;
}

.window {
	width: 480px;
	height: 640px;
	resize: both;
	overflow: hidden;
}

.pane {
	border: 2px solid;
	border-image: url(/border.png) 2 2 2 2;
	background-color: #c3c3c3;
	image-rendering: pixelated;
	display: flex;
	flex-direction: column;
}

img {
	align-self: baseline;
}

.frame {
	overflow: auto;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
}

.frame.padded {
	padding: 1em;
}

.frame.liquid {
	flex: 1;
}

.scroll {
	overflow: auto;
}

.frame.white {
	background-color: white;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;

}

.inset {
	border: 2px solid;
	border-image: url(/border-inset.png) 2 2 2 2;
	border-color: #c3c3c3;
	image-rendering: pixelated;
}

button {
	font-family: fixedsys;
	font-size: 12pt;
	border-style: solid;
	border-image: url(/border-inner.png) 2 3 3 2 fill;
	border-width: 2px 2px 2px 2px;
	border-image-width: 2px 2px 2px 2px;
	outline-offset: -4px;
	min-width: 120px;
	text-align: center;
}

button:active {
	outline-offset: -5px;
	border-image: url(/border-depressed.png) 2 3 3 2 fill;
	border-width: 3px 1px 1px 3px;
	border-image-width: 2px 3px 3px 2px;
}

label:focus-within span, *:focus {
	outline-width: 1px;
	outline-color: black;
	outline-style: dotted;
}

button.pane {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	flex-direction: unset;
	display: inline-block;
}

label {
	display: flex;
	align-items: center;
}

input[type="radio"] {
	margin: 0px;
	margin-right: 0.25em;
}

input, label, img.icon {
	padding-left: 0.125em;
	padding-right: 0.125em;
	align-self: baseline;
}

hr {
	margin: 0px;
}
