@font-face {
    font-family: 'fixedsys';
    src: url('fsex302-webfont.woff2') format('woff2'),
         url('fsex302-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	box-sizing: border-box;
	margin: 0px;
	box-sizing: border-box;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-bottom: 1.125em;
}

body::-webkit-scrollbar{
	display: none;
}

html, body, input, button, select {
	font-family: fixedsys;
	font-size: 12pt;
}

body {
	background: url(/dawid-zawila-9d33wIMMzoE-unsplash.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.window {
	width: 480px;
	height: 800px;
	margin: 0.5em;
	overflow: hidden;
}

.window.minimized {
	resize: none;
	width:  128px !important;
	height: auto !important;
	display: inline-flex;
}

.window.maximized:not(.minimized) {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100000;
	margin: 0px;
	border-width: 0px; 
	resize: none;
	width:  100% !important;
	height: 100% !important;
	display: inline-flex;
}

.window.minimized > .title-bar {
	border-bottom: 2px #c3c3c3 solid;
}

.window.maximized:not(.minimized) .title-bar {
	margin: 0px;
}

.window.minimized > *:not(.title-bar) {
	display: none;
}

.window:not(.minimized) {
	order: -1;
	align-self: flex-start;
	position: relative;
}

.pane {
	border: 2px solid;
	border-image: url(/border.png) 2 2 2 2;
	background-color: #c3c3c3;
	display: flex;
	flex-direction: column;
}

.frame {
	overflow: auto;
	flex-direction: column;
	flex-basis: 100%;
}

.frame .frame {
	border: 1px solid #808080;	
}

.frame.padded {
	padding: 0.5em;
}

.frame.margin {
	margin: 0.5em;
}

.liquid {
	display: flex;
	flex: 1;
}

.scroll {
	overflow: auto;
}

.resize {
	resize: both;
}

.frame.white {
	background-color: white;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

.row:not(.status) > * {
	margin: 0.5em;
}

.row.status > * {
	flex: 1;
	color: #444;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

/*label > *:first-child + * {
	margin-left: 0.5em;
}
*/
.frame.inset, .inset {
	border: 2px solid;
	border-image: url(/border-inset.png) 2 2 2 2;
	border-color: #c3c3c3;
}

button {
	font-family: fixedsys;
	font-size: 12pt;
	border-style: solid;
	border-image: url(/border.png) 2 2 2 2 fill;
	border-width: 2px 2px 2px 2px;
	border-image-width: 2px 2px 2px 2px;
	outline-offset: -4px;
	text-align: center;
}

.window button {
	min-width: 120px;	
}

button:active {
	outline-offset: -5px;
	border-image: url(/border-depressed.png) 2 3 3 2 fill;
	border-width: 3px 1px 1px 3px;
	border-image-width: 2px 3px 3px 2px;
}

*:focus {
	outline-width: 1px;
	outline-color: black;
	outline-style: dotted;
}

label {
	display: flex;
	align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0.5em;
}

/*input, label, img.icon {
	padding: 0.125em;
	align-self: center;
}*/

hr {
	margin: 0px;
}

textarea {
	resize: none;
}

progress {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}

progress::-webkit-progress-bar {
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
}
progress::-webkit-progress-value {
	background-color: transparent;
	background-image: url(/progress.png);
	background-repeat: repeat-x;
	background-position: left center
}