@font-face {
    font-family: 'fixedsys';
    src: url('fsex302-webfont.woff2') format('woff2'),
         url('fsex302-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	user-select: none;
}

textarea, input, [contenteditable] {
	user-select: initial;
}

body {
	display: flex;
	flex-direction: column;
}

html, body, input, button, select {
	font-family: fixedsys;
	font-size: 12pt;
}

.viewport {
	position: relative;
	align-self: stretch;
	flex: 1;
	overflow: hidden;
}

.pane {
	position: relative;
	border: 2px solid;
	border-image: url(/border.png) 2 2 2 2;
	background-color: #c0c0c0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.tabs > .tab {
	padding: 4px;
	border: 2px solid;
	border-bottom-width: 0px;
	border-image: url(/border-tab.png) 2 2 1 2 fill;
}

.tabs {
	padding-top: 3px;
	padding-left: 2px;
	margin-bottom: -2px;
	padding-right: 2px;
	color: #383838;
	z-index: 1;
	position: relative;
}

.tabs > .tab:focus,
.tabs > .tab:hover {
	outline-offset: -6px;
	color: #000;
	margin-left: -1px;
	margin-right: 1px;
	margin-top: -1px;
	margin-bottom: 1px;
}


.frame {
	overflow: auto;
	flex-direction: column;
	flex-basis: 100%;
}

.frame .frame {
	/*border: 1px solid #808080;*/
}

.padded {
	padding: 0.5em;
}

.frame.margin {
	margin: 0.5em;
}

.liquid {
	display: flex;
	flex: 1;
}

.resize {
	resize: both;
	overflow: hidden;
}

.resize-vert {
	resize: vertical;
	overflow-y: hidden;
}

.resize-hor {
	resize: horizontal;
	overflow-x: hidden;
}

.scroll {
	flex-shrink: 1;
	overflow: auto;
}

.invert-y {
	/*transform: scaleY(-1);*/
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.row {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.cols {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.spacer {
	flex: 1;
}

/*label > *:first-child + * {
	margin-left: 0.5em;
}
*/
.inset {
	border: 2px solid;
	border-image: url(/border-inset.png) 2 2 2 2;
	border-color: #c3c3c3;
	margin: 2px !important;
	overflow: hidden;
}

.window .editor-toolbar{
	padding: 0px;
}
.window .editor-toolbar::before{
	margin: 0px;
}
.window .editor-toolbar::after{
	margin: 0px;
}

.window .editor-toolbar a,
.window .editor-toolbar i.separator {
	border-image: url(/border.png) 2 2 2 2 fill;
}

.CodeMirror {
	flex: 1;
}

button {
	font-family: fixedsys;
	font-size: 12pt;
	border-style: solid;
	border-image: url(/border.png) 2 2 2 2 fill;
	border-width: 2px 2px 2px 2px;
	border-image-width: 2px 2px 2px 2px;
	outline-offset: -4px;
	text-align: center;
}

 .window button:not(.tight) {
	min-width: 120px;
}

.title-bar button {
	min-width: initial !important;
}

.window button.tight {
	display: flex;
	min-width: 24px;
	height: 28px;
	padding: 2px 4px 2px 4px;
}

.tight > button.tight {
	margin-bottom: -1px;
	border-bottom-width: 1px;
	height: 30px;
	min-width: 30px;
}

.tight > button.tight.flat {
	height: auto;
	padding: 1px;
	min-width: 36px;
}

.tight{
	overflow:hidden;
}

button:active {
	outline-offset: -5px;
	border-image: url(/border-depressed.png) 2 3 3 2 fill;
	border-width: 3px 1px 1px 3px;
	border-image-width: 2px 3px 3px 2px;
}

*:focus {
	outline-width: 1px;
	outline-color: black;
	outline-style: dotted;
}

label {
	display: flex;
	align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0.5em;
}

hr {
	margin: 0px;
}

textarea {
	resize: none;
}

progress {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}

progress::-webkit-progress-bar {
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
}
progress::-webkit-progress-value {
	background-color: transparent;
	background-image: url(/progress.png);
	background-repeat: repeat-x;
	background-position: left center
}

ul.task-list {
	background-color: black;
	color: white;
	position: fixed;
	top:0px;
	right:1em;
	text-align: right;
	z-index: 999999999;
	opacity: 0.75;
	pointer-events: none;
	mix-blend-mode: darken;
}

ul.task-list:hover {
}

label.icon-label {
	white-space: nowrap;
	text-align: right;
}

label.icon-frame label {
	display: none;
}

.repo-browser .treeview {
	white-space: nowrap;
	/*display: flex;
	flex: 1;*/
}

.repo-browser .treeview .content {
	/*display: flex;
	flex: 1;*/
}

.repo-browser .treeview > .resize > .folder {
	min-width: 4em;
}

.repo-browser .treeview .resize {
	white-space: nowrap;
	resize: horizontal;
	overflow: auto;
	height: 100%;
}

.repo-browser .main-content {
	padding: 1em;
}

.repo-browser pre.main-content {
	padding: 0.25em 1em;
	display: inline-block;
}

.repo-browser textarea.main-content {
	position: absolute;
	white-space: pre;
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;
	overflow: visible;
}

.image-control.main-content {
	display: flex;
	flex: 1;
	justify-content:center;
	align-items:center;
	background-color: #c0c0c0;
}

.image-control.main-content img {
	padding: 1em;
}

.plaintext-control {
	margin: 0px;
	flex: 1;
}

.html-control.main-content {
	display: flex;
	flex: 1;
	border: none;
	padding: 0px;
	margin: 1em;
}

.html-control iframe {
	flex: 1;
}

.json-view:not(.top-level) {
	display: contents;
}

:not(.expanded) > .json-view-body {
	display: none;
}

.json-view.main-content {
	background-color: #aaa;
	color: black
}

.json-view .json-view-body {
	margin-left : 2em;
	color: #446;
}

.json-key {
	border: 2px solid;
	border-image: url(/border-inactive.png) 2 2 2 2;
	background-color: #c3c3c3;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 1px 1px 1px 1px;
	display: inline-block;
}

[data-type=object] > .json-key {
	border-image: url(/border.png) 2 2 2 2;
}

[data-type=object] > .json-key:active {
	border-top-width: 4px !important;
	border-left-width: 4px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-image: url(/border-depressed.png) 2 3 3 2;
}

.json-value {
	color: black;
}


[data-type=object] > .json-key > span{
	color: #311;
	cursor: pointer;

}


.phpEditor.loading .scroll {
	background-image: url(/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.CodeMirror-selectedtext {
	background-color: #000082 !important;
	color: white;
}

.wide:not(td):not(th) {
	display: flex;
	flex-grow: 1;
}

.row.tight > * {
	margin: 0px;
	justify-content: center;
}

.phpEditor .ace_editor .ace_scroller {
	background-color: transparent;
}

.phpEditor .resize-vert {
	overflow-y: scroll;
}

.phpEditor .ace_editor,
.phpEditor textarea {
	margin: 0px;
	padding: 1em 0px;
	flex-grow: 1;
	height: auto !important;
}

.over-hide {
	overflow: hidden;
}

/*.phpEditor .ace_editor {
	min-height: 18em;
}
*/
.scroll-header {
	min-height: 24px;
}

.left-align {
	text-align: left;
	align-items: flex-start;
}

.flat {
	border: none;
	background-color: transparent;
}

.clear {
	background-color: transparent;
}

.tight > label {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tight > img {
	align-self: center;
	image-rendering: pixelated;
}

.ace_line:last-child {
	background-color: #322;
	color: white;
}

/*.output-line {
	position:absolute;
	z-index: 10000;
	background-color: #000033;
	color: white;
	background-blend-mode: color-burn;
}
*/
.ace_markdown-code-unclosed-string {
	color: rgba(200,120,120,1);
	font-weight: bold;
}

.ace_punctuation.ace_xml-decl.ace_xml {
	opacity: 1;
	/*display: none;*/
}

.repos-dropdown {
	position: absolute;
	padding: 0px !important;
	top: -4px;
	left: -4px;
	width: calc(100% + 6px);
	border-right: none;
}

.repos-dropdown .inset {
	margin: 0px !important;
}

.outer.scroll-header {
	position: relative;
	overflow: visible;
}

.outer.scroll-header .repos-dropdown {
	display: none;
}

.outer.scroll-header .repos-dropdown .scroll{
	height: 300px;
}
.outer:focus .repos-dropdown,
.outer:focus-within .repos-dropdown {
	display: block;
	z-index: 100;
}

[data-section-antileft] {
	display: none;
}

[data-section-antiright] {
	display: none;
}

.hide-left [data-section-antileft] {
	display: initial;
}

.hide-right [data-section-antiright] {
	display: initial;
}

.hide-left [data-section-left] {
	display: none;
}

.hide-right [data-section-right] {
	display: none;
}

.hide-term .term {
	display: none !important;
}

.abs-holder {
	position: relative;
	display: block !important;
	width: 100%;
	height: 100%;
}

.abs-fill pre,
.abs-fill {
	margin: -1px -1px -1px -1px;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.miny4em {
	min-height: 4em;
}

.minx4em {
	min-width: 4em;
}

.center-resize-hor {
	resize: horizontal;
	overflow: auto;
}

.hide-right .center-resize-hor {
	resize: none;
	width: auto !important;
	flex: 1;
}

.center-resize-vert {
	resize: vertical;
}

.hide-term .center-resize-vert {
	resize: none;
	width: auto !important;
	flex: 1;
}

[data-vertical-resize] {
	flex-shrink: 0;
	background-color: #c0c0c0;
	cursor: col-resize;
	width: 4px;
	margin-left: -2px;
	margin-right: -2px;
}

[data-horizontal-resize] {
	flex-shrink: 0;
	background-color: #c0c0c0;
	cursor: row-resize;
	height: 4px;
	margin-top: -2px;
	margin-bottom: -2px;
}

[data-control-sector]{
	height: calc(100% - 6em);
}

[data-center-col] {
	flex: 1;
}

[data-terminal-sector] {
	height: 5em;
}

.inset:not(.white) {
	background-color: #c0c0c0;
}
