.task-bar {
	display: flex;
	flex-direction: row;
	bottom: 0px;
	width: 100%;
}

.task-bar button {
	display: flex;
	height: 100%;
	align-items: center;
}

.task-bar button {
	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.task-bar button img {
	margin-right: 0.5em;
}

.task-bar .start {
	position: relative;
}

.task-bar .start .pane {
	display: none;
	position: absolute;
	bottom: calc(100% - 1px);
	left: -3px;
	flex-direction: row;
}

.task-bar .brand-stripe {
	background-color: #000082;
	color: white;
	padding: 0.25em;
	display: flex;
}

.task-bar .brand-stripe img {
	height: 180px;
	margin-top: auto;
}

.task-bar .start:focus-within > .pane {
	display: flex;
}

.task-bar .start .pane ul {
	margin: 0px;
	margin-left: 1px;
	padding: 0px;
	flex: 1;
}

.task-bar .start .pane li {
	padding: 0.5em;
	list-style: none;
	display: flex;
	align-items: center;
	min-width: 160px;
}

.task-bar .start .pane li img {
	margin-right: 0.5em;
}

.task-bar ul [tabindex]:hover {
	outline-color: white;
	background-color: #000082;
	color: white;
}

.task-bar ul [tabindex]:hover > .expand {
	filter: invert(100%);
}


.task-bar ul [tabindex] {
	outline-offset: -1px;
}

.task-bar .start li label {
	flex: 1;
}

.task-bar .start li {
	position: relative;
}

.task-bar .start li ul.pane {
	display: none;
	position: absolute;
	left: 100%;
	bottom: 0px;
	flex-direction: column;
	color: black;
}

.task-bar .start li:focus-within > ul.pane {
	display: flex;
}
